<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="connexion.css">
</head>
<body>
      <div>
            <h1><span>404</span> Page introuvable</h1>
            <center><a href="/" style="font-weight: 600;">Retour connexion</a></center>
      </div>
</body>
</html>