<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="connexion.css">
</head>
<body>
      <form action="#" style="height: 225px;" method="post">
            <h1>Nouveau mot de passe</h1>
            <% if (errrorMessage) { %>
                  <span id="erreur"><%= errrorMessage %></span>
            <% } %>
            <input type="password" name="mdp1" id="" placeholder="Nouveau mot de passe">
            <input type="password" name="mdp2" id="" placeholder="Confirmer le mot de passe">
            <input type="submit" value="Modifier">
            <div class="link">
                  <a href="/" id="inscription">Retour connexion</a>
            </div>
      </form>
</body>
</html>