<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="connexion.css">
</head>
<body>
      <div>
            <h1>Facture ajoutée avec succès <img src="image/succes.png" alt="" srcset="" width="40px"></h1>
            <center>
                  <a href="/affichage" style="font-weight: 600; padding: 4px 10px; background: #000; color: #fff; text-decoration: none;">Ok</a>
            </center>
      </div>
</body>
</html>